In [303]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlutils.features import *

In [304]:
# let's create a dummy dataset
store_ids = np.arange(1,11)
month_indicator = np.arange(1,6)
values = np.random.randint(100, size = len(store_ids)*len(month_indicator))

data = []
i = 0
for s in store_ids:
    for m in month_indicator:
        data.append([s, m, values[i]])
        i = i + 1

df = pd.DataFrame(data)
df.columns = ['Store','Month','Sales']
df.head(20)

    Store  Month  Sales
0       1      1      9
1       1      2     65
2       1      3     79
3       1      4     92
4       1      5     74
5       2      1     46
6       2      2     21
7       2      3      5
8       2      4     60
9       2      5     99
10      3      1     92
11      3      2     96
12      3      3     84
13      3      4     53
14      3      5     90
15      4      1     51
16      4      2     27
17      4      3      7
18      4      4     98
19      4      5     25

In [305]:
# to test our functions, let's reorder everything
df = df.sample(frac=1)
df.reset_index(drop=True, inplace=True)
df

    Store  Month  Sales
0      10      4     47
1       7      1     80
2       1      3     79
3      10      3     50
4       4      2     27
5       1      4     92
6       4      5     25
7       7      3     51
8      10      5     51
9       3      4     53
10      1      5     74
11      2      3      5
12      9      1     87
13      5      4     18
14      6      4     52
15      8      2     55
16      6      1     72
17      8      5     50
18      9      3     77
19      3      2     96
20      3      3     84
21      2      5     99
22      9      2     54
23      1      2     65
24     10      1     86
25      5      5     66
26      1      1      9
27      4      4     98
28      3      5     90
29      3      1     92
30     10      2     36
31      6      5     46
32      7      2     78
33      7      5      5
34      2      1     46
35      2      2     21
36      5      3     58
37      6      2     96
38      5      1     85
39      8      1     15
40      7      4     62
41      8      4     68
42      5      2      1
43      9      4     21
44      4      1     51
45      9      5     61
46      2      4     60
47      8      3     88
48      4      3      7
49      6      3      3

In [328]:
%%time
def getPreviousValue(df, value_column, group_column, iterator_column):
    df = df.sort_values([group_column, iterator_column])
    df2 = df[[value_column, group_column, iterator_column ]].copy()
    df2.columns = ['Previous'+value_column, group_column, iterator_column]
    df2[iterator_column] = df2[iterator_column].apply(lambda x: x + 1)
    return df.merge(df2, how='left', on=[group_column, iterator_column])

df = getPreviousValue(df,'Sales', 'Store', 'Month')
df.head(10)

CPU times: user 9.18 ms, sys: 96 µs, total: 9.28 ms
Wall time: 8.54 ms

In [329]:
%%time
df = df.sort_values(['Store', 'Month'])
df['new'] = df.Sales.shift()
df.loc[df.Month == 1,'new'] = 0
df

CPU times: user 9.02 ms, sys: 83 µs, total: 9.11 ms
Wall time: 8.55 ms

In [316]:
temp = df.set_index('Month')
temp['Cum'] = temp.groupby(['Store'])['PreviousSales'].cumsum()
#temp['Cum'] = temp['Cum'].shift()
temp.reset_index(inplace=True)
#temp.loc[temp['Month'] == 1,'Cum'] = np.nan
temp

    Month  Store  Sales  PreviousSales    Cum
0       1      1      9            NaN    NaN
1       2      1     65            9.0    9.0
2       3      1     79           65.0   74.0
3       4      1     92           79.0  153.0
4       5      1     74           92.0  245.0
5       1      2     46            NaN    NaN
6       2      2     21           46.0   46.0
7       3      2      5           21.0   67.0
8       4      2     60            5.0   72.0
9       5      2     99           60.0  132.0
10      1      3     92            NaN    NaN
11      2      3     96           92.0   92.0
12      3      3     84           96.0  188.0
13      4      3     53           84.0  272.0
14      5      3     90           53.0  325.0
15      1      4     51            NaN    NaN
16      2      4     27           51.0   51.0
17      3      4      7           27.0   78.0
18      4      4     98            7.0   85.0
19      5      4     25           98.0  183.0
20      1      5     85            NaN    NaN
21      2      5      1           85.0   85.0
22      3      5     58            1.0   86.0
23      4      5     18           58.0  144.0
24      5      5     66           18.0  162.0
25      1      6     72            NaN    NaN
26      2      6     96           72.0   72.0
27      3      6      3           96.0  168.0
28      4      6     52            3.0  171.0
29      5      6     46           52.0  223.0
30      1      7     80            NaN    NaN
31      2      7     78           80.0   80.0
32      3      7     51           78.0  158.0
33      4      7     62           51.0  209.0
34      5      7      5           62.0  271.0
35      1      8     15            NaN    NaN
36      2      8     55           15.0   15.0
37      3      8     88           55.0   70.0
38      4      8     68           88.0  158.0
39      5      8     50           68.0  226.0
40      1      9     87            NaN    NaN
41      2      9     54           87.0   87.0
42      3      9     77           54.0  141.0
43      4      9     21           77.0  218.0
44      5      9     61           21.0  239.0
45      1     10     86            NaN    NaN
46      2     10     36           86.0   86.0
47      3     10     50           36.0  122.0
48      4     10     47           50.0  172.0
49      5     10     51           47.0  219.0

In [317]:
temp = df.set_index('Month')
temp['Avg'] = temp.groupby(['Store'])['PreviousSales'].rolling(5, min_periods=1).mean().values
temp.reset_index(inplace=True)
#temp['Avg'] = temp['Avg'].shift()
#temp.loc[temp['Month'] == 1,'Avg'] = np.nan
temp

    Month  Store  Sales  PreviousSales        Avg
0       1      1      9            NaN        NaN
1       2      1     65            9.0   9.000000
2       3      1     79           65.0  37.000000
3       4      1     92           79.0  51.000000
4       5      1     74           92.0  61.250000
5       1      2     46            NaN        NaN
6       2      2     21           46.0  46.000000
7       3      2      5           21.0  33.500000
8       4      2     60            5.0  24.000000
9       5      2     99           60.0  33.000000
10      1      3     92            NaN        NaN
11      2      3     96           92.0  92.000000
12      3      3     84           96.0  94.000000
13      4      3     53           84.0  90.666667
14      5      3     90           53.0  81.250000
15      1      4     51            NaN        NaN
16      2      4     27           51.0  51.000000
17      3      4      7           27.0  39.000000
18      4      4     98            7.0  28.333333
19      5      4     25           98.0  45.750000
20      1      5     85            NaN        NaN
21      2      5      1           85.0  85.000000
22      3      5     58            1.0  43.000000
23      4      5     18           58.0  48.000000
24      5      5     66           18.0  40.500000
25      1      6     72            NaN        NaN
26      2      6     96           72.0  72.000000
27      3      6      3           96.0  84.000000
28      4      6     52            3.0  57.000000
29      5      6     46           52.0  55.750000
30      1      7     80            NaN        NaN
31      2      7     78           80.0  80.000000
32      3      7     51           78.0  79.000000
33      4      7     62           51.0  69.666667
34      5      7      5           62.0  67.750000
35      1      8     15            NaN        NaN
36      2      8     55           15.0  15.000000
37      3      8     88           55.0  35.000000
38      4      8     68           88.0  52.666667
39      5      8     50           68.0  56.500000
40      1      9     87            NaN        NaN
41      2      9     54           87.0  87.000000
42      3      9     77           54.0  70.500000
43      4      9     21           77.0  72.666667
44      5      9     61           21.0  59.750000
45      1     10     86            NaN        NaN
46      2     10     36           86.0  86.000000
47      3     10     50           36.0  61.000000
48      4     10     47           50.0  57.333333
49      5     10     51           47.0  54.750000

In [309]:
temp = df.set_index('Month')
temp['Std'] = temp.groupby(['Store'])['Sales'].rolling(5, min_periods=1).std().values
temp.reset_index(inplace=True)
temp['Std'] = temp['Std'].shift()
temp.loc[temp['Month'] == 1,'Std'] = np.nan
temp

    Month  Store  Sales  PreviousSales        Std
0       1      1      9            NaN        NaN
1       2      1     65            9.0        NaN
2       3      1     79           65.0  39.597980
3       4      1     92           79.0  37.040518
4       5      1     74           92.0  36.536511
5       1      2     46            NaN        NaN
6       2      2     21           46.0        NaN
7       3      2      5           21.0  17.677670
8       4      2     60            5.0  20.663978
9       5      2     99           60.0  24.671171
10      1      3     92            NaN        NaN
11      2      3     96           92.0        NaN
12      3      3     84           96.0   2.828427
13      4      3     53           84.0   6.110101
14      5      3     90           53.0  19.482898
15      1      4     51            NaN        NaN
16      2      4     27           51.0        NaN
17      3      4      7           27.0  16.970563
18      4      4     98            7.0  22.030282
19      5      4     25           98.0  39.203529
20      1      5     85            NaN        NaN
21      2      5      1           85.0        NaN
22      3      5     58            1.0  59.396970
23      4      5     18           58.0  42.883563
24      5      5     66           18.0  38.091994
25      1      6     72            NaN        NaN
26      2      6     96           72.0        NaN
27      3      6      3           96.0  16.970563
28      4      6     52            3.0  48.280431
29      5      6     46           52.0  39.500000
30      1      7     80            NaN        NaN
31      2      7     78           80.0        NaN
32      3      7     51           78.0   1.414214
33      4      7     62           51.0  16.196707
34      5      7      5           62.0  13.768926
35      1      8     15            NaN        NaN
36      2      8     55           15.0        NaN
37      3      8     88           55.0  28.284271
38      4      8     68           88.0  36.555893
39      5      8     50           68.0  30.816662
40      1      9     87            NaN        NaN
41      2      9     54           87.0        NaN
42      3      9     77           54.0  23.334524
43      4      9     21           77.0  16.921387
44      5      9     61           21.0  29.295904
45      1     10     86            NaN        NaN
46      2     10     36           86.0        NaN
47      3     10     50           36.0  35.355339
48      4     10     47           50.0  25.794056
49      5     10     51           47.0  21.685248